Checks: >-
  bugprone-*, cert-*, readability-*, clang-analyzer-*, concurrency-*, misc-*, bugprone-argument-comment, clang-analyzer-core.NullDereference, -readability-identifier-length, -concurrency-mt-unsafe, -misc-include-cleaner, -readability-magic-numbers, -bugprone-easily-swappable-parameters, -readability-function-cognitive-complexity, -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling, -cert-err33-c, -misc-header-include-cycle, -readability-else-after-return, -bugprone-narrowing-conversions, -misc-no-recursion, -clang-analyzer-optin.core.EnumCastOutOfRange
WarningsAsErrors: '*'
